<div class="details">
  <div class="detailsHeading">
    <div class="detailsTitle">
      <div class="homeWebsite">
        <a href="/">Go Back Home</a>
      </div>
      <h1 class="businessName">
        <%= item.businessName %>
      </h1>
      <h5 class="businessType"><%= item.businessType %></h5>
    </div>
    <div class="detailsMainContact">
      
      <div class="telephoneNumber">
        <i class="fa fa-phone"></i> <%= item.phone || 720-234-5678 %>
      </div>
      <div class="emailAddress">
        <i class="fa-solid fa-envelope"></i>abcd@yahoo.com
      </div>
      <div class="social">
        <a class="facebook socialMedia" href=`<%= item.businessFacebookPage %>`> <i class="faFacebook fa-brands fa-facebook"></i></a> 
        <a class="twitter socialMedia" href=`<%= item.businessTwitterPage %>`><i class="faTwitter fab fa-twitter-square"></i></a> 
        <a class="tiktok socialMedia" href=`<%= item.businessTiktokPage %>`> <i class="faTiktok fab fa-tiktok"></i></a> 
        <a class="instagram socialMedia" href=`<%= item.businessInstagramPage %>`> <i class="faInstagram fab fa-instagram"></i></a> 
      </div>
    </div>
  </div>

  <div class="services">
    <div class="serviceText">
      <h3>Services</h3>
      <div>
        <%= item.services %>
      </div>
    </div>
    <div class="serviceImage">
      <img src=<%=item.serviceImage || "https://picsum.photos/800/300" %> alt="myimages" />
    </div>
  </div>
  <div class="description">
    <div class="descriptionImage">
      <img src=<%=item.descriptionImage || "https://picsum.photos/400/300" %> alt="myimages" />
    </div>
    <div class="descriptionText">
      <h3>Description</h3>
      <%= item.description %>
    </div>
  </div>

  <div class="contactTheBusiness">
    <div class="contactForm">
      <div class="forms">
        <h3>Contact the Owner of this Site</h3>
        <form action="mailto:<%=item.email%> " method="POST" enctype="multipart/form-data" name="EmailForm">
            <div class="contactInput">
                <div class="contactSection">
                    <label for="fullName" class="form-label">Full Name: </label><br />
                    <input type="text" id="fullName" placeholder="Joe Doe" class="inputContactStyle" name="fullName">
                </div>
                <div class="contactSection">
                    <label for="email" class="form-label">Email: </label><br />
                    <input type="email" id="email" placeholder="joe@email.com" class="inputContactStyle" name="email">
                </div>
                <div class="contactSection">
                    <label for="phoneNumber" class="form-label">Tel: </label><br />
                    <input type="tel" id="phoneNumber" class="inputContactStyle" name="phoneNumber" placeholder="xxx-xxx-xxxx">
                </div>
                <div class="contactSection">
                    <label for="comments" class="form-label">Contact The Owner of This Business</label>
                    <div>
                        <textarea type="text" id="comments" class="textareaContactStyle" name="comments" >comments ....</textarea>
                    </div>
                </div>
            </div>
            <div class="contactSubmit">
                <button class="btnContact">Send</button>
            </div>
        </form>
    
    </div>
    </div>
    <div class="addressGoogleMap">
      <img class="googleMap" src=<%=item.mainImage || "https://picsum.photos/400/300" %> alt="myimages" />
    </div>
  </div>
  <div class="social">
    <h3 class="onYouTubeTitle">Watch Detail Information About <%= item.businessName %></h3>
    <iframe class="onYouTube" src="https://www.youtube.com/embed/eMisIQLOMbE" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

  </div>
</div>